<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title> Editor </title>
    </head>
    <body>
        <img src="" id="editor"/>
        <h1>100 Mile Radius Editor</h1>

        <form id="form">
            <!-- <input type="number" id="tix" required/> -->
            <input type="tel" pattern="[0-9]*" id="tix" required/>
            <input type="color" id="color" required/>
            <!-- value="#e66465" -->
            <button type="submit">Submit</button>
        </form>
        <h2 id="groupInfo">Current Group ID is: 0</h2>

        <script>
            const form = document.getElementById("form");
            const tix = document.getElementById("tix");
            const color = document.getElementById("color");
            localStorage.clear();

            init()
            async function init(){
                const options = {
                method: 'GET'
            };
            const response = await fetch('/data/latest/',options);
            const data = await response.json();
            localStorage.setItem('group', data.group + 1 )
            document.getElementById('groupInfo').innerHTML = "Current Group ID is : " + localStorage.getItem("group")
            }


            form.addEventListener('submit', function(e){
                e.preventDefault();
                
                const tixVal = tix.value;
                const colorVal = color.value;
                console.log(tixVal)
                localStorage.setItem('Obj', JSON.stringify({tn: tixVal, bc: colorVal}));
                console.log(localStorage.getItem("group"))
                // localStorage.setItem('ticket-number', tixVal);
                // window.location.href = "graph.html";
            })
          </script>
    </body>
</html>